// Colores principales
$primary-color: #1b7d38e3;
$secondary-color: #155724;
$text-color: white;
$background-color: #f8f9fa;

// Fuentes
$font-main: 'Arial', sans-serif;
$font-size-base: 16px;
